.pageWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr; 
  gap: calc(var(--spacing-unit) * 3); 
}

.postsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlight {
 display : flex;
 flex-direction: column;
 border-bottom : 1px solid rgb(50,50,50)
}

.highlight img {
  width : 100%;
  border-radius : 2px;
}

.highlight .post {
  display : flex;
  flex-direction : row;
  justify-content: space-between;
  min-height : 220px;
}

.highlight .post h2 {
  font-size : 5rem;
  max-width : 60%;
  gap : var(--spacing-unit);
}

.sidebar {
  background-color: var(--color-solid-accent);
  border-radius: 2px;
  padding: calc(var(--spacing-unit) * 1.5);
  color: var(--color-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Needed for positioning the pseudo-elements */
  overflow: hidden; /* To hide the parts of the circles outside the border */
}

.sidebar::before,
.sidebar::after {
  content: "";
  display: block;
  width: 32px; /* Adjust the size of the circles as needed */
  height: 30px; /* Should be the same as width for a circle */
  border-radius: 50%; /* Makes it a circle */
  background-color: var(--color-background);
  position: absolute;
}

/* Top-left circle */
.sidebar::before {
  top: -15px; /* Half the height to position at the top edge */
  left: -15px; /* Half the width to position at the left edge */
}

/* Top-right circle */
.sidebar::after {
  top: -15px; /* Half the height to position at the top edge */
  right: -15px; /* Half the width to position at the right edge */
}

.sidebarSection {
  margin-bottom: calc(var(--spacing-unit) * 2.5);
}

.sidebarTitle {
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  margin-bottom: var(--spacing-unit);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: calc(var(--spacing-unit) * 0.5);
  font-weight: 700;
}

.aboutImagePlaceholder {
  width: 100px;
  height: 100px;
  background-color: #eee; 
  border-radius: 50%; 
  margin: 0 auto var(--spacing-unit) auto;
  display: block;
}

.searchBar {
   width: 100%;
   padding: calc(var(--spacing-unit) * 0.55);
   border: 1px solid var(--color-border);
   font-family: var(--font-secondary);
   font-size: 0.75rem;
   margin-bottom: var(--spacing-unit);
   border-radius:6px;
   
}
.searchBar:focus {
   outline: 1px solid var(--color-accent);
   border-color: var(--color-accent);
}

.tagsContainer {
   display: flex;
   flex-wrap: wrap;
   gap: calc(var(--spacing-unit) * 0.5);
}

.tag {
   display: inline-block;
   padding: calc(var(--spacing-unit)*0.3) calc(var(--spacing-unit)*0.8);
   border: 1px solid var(--color-border);
   border-radius: 4px;
   font-size: 0.9em;
   background-color: transparent;
   color: var(--color-text);
   transition: background-color 0.2s, color 0.2s;
}
.tag:hover {
   background-color: var(--color-accent);
   color: var(--color-background);
   border-color: var(--color-accent);
   text-decoration: none;
}

/* Tablet and Mobile Styles (up to a certain breakpoint, e.g., 1024px) */
@media (max-width: 1024px) {
  .pageWrapper {
    grid-template-columns: 1fr; /* Single column layout */
    gap: calc(var(--spacing-unit) * 2); /* Adjust gap for smaller screens */
  }
}

@media (max-width: 768px) {
  .pageWrapper {
    gap: var(--spacing-unit); /* Further reduce gap for smaller screens */
  }
 
}